 @font-face {
     font-family: WindWaker;
     src: url('SherwoodRegular.TTF');
}
/* The following style is used to remove default settings on all elements made by browsers */
 *{
     margin: 0px;
     padding: 0px;
     font-family: WindWaker;
}
 section#howToPlay {
     margin-top: 5%;
     width: 50%;
     text-align: center;
     vertical-align: middle;
     display: grid;
     margin-left: auto;
     margin-right: auto;
     padding: 2%;
     border-left: 6px solid green;
     background-color: #EBDFAD;
}
 button#closeHelp {
     margin-top: 2%;
}
 body {
     background-image: url("images/mainBackground.jpg");
     background-size: cover;
     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/mainBackground.jpg', sizingMethod='scale');
     background-repeat: no-repeat;
}
 header{
     width: 100%;
     height: 5%;
     min-height: 20%;
     background-color: none;
     padding: 10px;
}
 nav{
     width: 100%;
     height: 10%;
     min-height: 10%;
     background-color: #f1f1f1;
     text-align: center;
     padding-top: 2%;
     padding-bottom: 2%;
}
 footer{
     margin-top: 5%;
     margin-bottom: 5%;
     text-align: center;
     color: white;
     clear: both;
     width: 100%;
     height: 2%;
     min-height: 2%;
     padding: 0px, 10%;
}
 .card {
     width: 25%;
     height: 100%;
     margin: 0px;
     float: left;
     position: relative;
     opacity: 1;
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    /* For IE8 and earlier */
}
 .back, .face, .indicator{
     width: 100%;
     height: 100%;
     position: absolute;
     display: block;
}
 .back, .indicator {
     z-index: 1;
}
 .face {
     z-index: 1;
}
 .indicator {
     font-size: 300%;
     display:flex;
     align-items: center;
     justify-content: center;
}
 main{
     margin-top: 5%;
     margin-bottom: 10%;
     width: 50%;
     margin-left: auto;
     margin-right: auto;
}
 div#memoryGame {
     margin-top: 5%;
     width: 100%;
    /* Source of image : https://i0.wp.com/wallpapercave.com/wp/cJEFCES.jpg */
     background-image: url("images/cards/secretImage.jpg");
     background-size: contain;
     background-position: center;
     background-repeat:no-repeat;
     filter: progid:DXImageTransform.Microsoft.AlphaImageLoader( src='images/cards/secretImage.jpg', sizingMethod='scale');
     background-color: white;
     text-align: center;
     overflow: hidden;
     margin-left: auto;
     margin-right: auto;
}
 div {
     display:block;
}
 @media all and (-ms-high-contrast:none) 
/* IE10 + IE11 formatting issues*/
 {
     div#memoryGame {
         width:50%;
         margin-left: auto;
         margin-right: auto;
    }
     button#closeHelp {
        height: 5%;
    }
     section#howToPlay {
        display:block;
         height:30%;
    }
     main {
        display: block;
         width: 100%;
    }
     div {
        display:block;
    }
}
 button {
     height: 100%;
     min-height: 50%;
     width: 15%;
     margin-left: auto;
     margin-right: auto;
     background-color:#4CAF50;
     color: white;
}
 section {
     width: 100%;
     height: 20%;
}
 #title{
     text-align: center;
     margin: 2%;
     color: white;
}
